<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.HomePluginPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDisplayName</key>
	<string>Home Plugin</string>
	<key>QSActions</key>
	<dict>
		<key>DoSomethingInSwiftAction</key>
		<dict>
			<key>alternateAction</key>
			<string>TurnOff</string>
			<key>actionClass</key>
			<string>QSHomePlugin.QSHomePluginSwiftAction</string>
			<key>actionSelector</key>
			<string>performActionDirectlyInSwift:</string>
			<key>commandFormat</key>
			<string>Do something in swift to %@</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>QSHomePluginType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>Actions</string>
			<key>name</key>
			<string>Do Something Directly in Swift</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>DoSomethingInSwiftUsingAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSHomePlugin.QSHomePluginSwiftAction</string>
			<key>actionSelector</key>
			<string>performActionDirectlyInSwift:using:</string>
			<key>commandFormat</key>
			<string>Do something to %@ using %@</string>
			<key>directTypes</key>
			<array>
				<string>QSHomePluginType</string>
				<string>QSTextType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.HomeKit</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Do Something Directly in Swift Using...</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>DoSomethingInSwiftFromObjC</key>
		<dict>
			<key>actionClass</key>
			<string>QSHomePluginAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>commandFormat</key>
			<string>Do something in Swift from ObjC to %@</string>
			<key>directTypes</key>
			<array>
				<string>QSHomePluginType</string>
				<string>QSTextType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.HomeKit</string>
			<key>name</key>
			<string>Do something in Swift from ObjC</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSDefaultsTemplate</key>
	<dict>
		<key>HomePluginEnableFeature</key>
		<true/>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Nathan Henrie</string>
		<key>categories</key>
		<array>
			<string>TBD</string>
		</array>
		<key>description</key>
		<string>Quicksilver Plugin to interact with HomeKit and Home.app</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;HomePlugin&lt;/h1&gt;
&lt;h2&gt;Quicksilver Plugin to interact with HomeKit and Home.app&lt;/h2&gt;
&lt;p&gt;Documentatoin for HomePlugin&lt;/p&gt;</string>
		<key>icon</key>
		<string>QSPlugIn</string>
		<key>relatedPaths</key>
		<array>
			<string>/System/Applications/Home.app</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetExample</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>QSPlugIn</string>
			<key>name</key>
			<string>Example Preset</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>/path/to/data</string>
			</dict>
			<key>source</key>
			<string>QSHomePlugin.QSHomePluginSwiftSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSHomePlugin.QSHomePluginSwiftAction</key>
			<string>QSHomePlugin.QSHomePluginSwiftAction</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSHomePluginType</key>
			<string>QSHomePlugin.QSHomePluginSwiftSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSHomePlugin.QSHomePluginSwiftSource</key>
			<string>QSHomePlugin.QSHomePluginSwiftSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSHomePluginType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>HomePlugin Objects</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>version</key>
		<string>4012</string>
	</dict>
</dict>
</plist>
